@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-fade-in-delay-100 {
  animation-delay: 0.1s;
}
.animate-fade-in-delay-200 {
  animation-delay: 0.2s;
}
.animate-fade-in-delay-300 {
  animation-delay: 0.3s;
}
